<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxq.springmvc.dao.RedPacketDao">

    <select id = "getRedPacket" parameterType = "long"
    resultType="com.sxq.springmvc.pojo.RedPacket">
      SELECT id , user_id as userId, amount, send_date as sendDate, total, unit_amount as unitAmount, stock, version, note
      from T_RED_PACKET WHERE id = #{id}
    </select>

    <select id = "getRedPacketForUpdate" parameterType = "long"
            resultType="com.sxq.springmvc.pojo.RedPacket">
        SELECT id , user_id as userId, amount, send_date as sendDate, total, unit_amount as unitAmount, stock, version, note
        from T_RED_PACKET WHERE id = #{id} FOR UPDATE
    </select>


    <update id = "decreaseRedPacket">
        UPDATE T_RED_PACKET SET stock = stock -1 WHERE id = #{id}
    </update>

    <update id = "decreaseRedPacketForVersion">
        UPDATE T_RED_PACKET
        SET stock = stock -1 ,
            version = version + 1
        WHERE id = #{id}
        and version = #{version}
    </update>
</mapper>
